 .EventPageBody{
   background-image: url('gazageeks.JPG');
   background-repeat: no-repeat;
   background-size: cover; 
 }

 .addeventBtn{background-color: orange;
  border-radius: 10px;
  width: 200px;
  color: #47413d
  text-align: center;
  margin-left:50px;
}

.addeventBtn:hover{
  background-color: rgb(43, 153, 188);
  color: white;
}

.Add-wrap {
  text-align: center;
 font-size: 20px;
 background-color: black;
 opacity: 0.8;
 width: 900px;
 margin-left: 430px;
 padding-bottom: 30px;
 padding-top: 30px;
 border-radius: 20px;

 }

 
label{color: white;
  border-radius: 60px;
  text-align: center;
}

.addEventTitle{
  color: white;
  font-weight: bolder;
  font-size: 50px;
}

.imageurl{
  border-radius: 10px;
  text-align: center;
  margin-left:40px;
  margin-right: 40px;
  width: 300px;

}
 
 .des{
  margin-left:4px;
 }

 
 

 .des, .speaker, .title, .hall, .date, .start-date , .end-date{
border-radius: 10px;


 }
 .hall{
   width: 100px;
 }
  


 