<div class="Add-wrap">


<h1>add Event</h1>
<form class="add-post" action="/addEvent" method="POST">
<label for="">Title</label>
<br>
<input type="text" name="title">
<br>
<label for="">Speaker </label>
<br>
<input type="text" name="speaker">
<br>
<textarea name="description" rows="8" cols="80"></textarea>
<br>
<label class="hall" for="">hall</label>
<br>
<input class="hall" name="hall" rows="8" cols="80"></input>
<br>
<label for=""> Date</label>
<br>
<input type="text" name="Date">
<br>
<label for=""> Image Url</label>
 <br> 
<input type="Image Url" value="Image Url"/>
<button onclick="myFunction()">Upload</button>
button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>


</form>

</div>