<link rel="stylesheet" href="/css/home.css">
<section>
  <div class="headline">
    <h3>Welcome to the GazaSkyGeeks Narrowcast</h3>
    <button type="button" id="#narrow-button" class="narrow-button">See narrowcast</button>
  </div>
  <div class="events-container">
    <button type="button" id="view-events" class="button" name="view events">Events</button>
    <button type="button" id="add-events" class="button" name="add events">Events</button>
  </div>

  <div class="programs-container">
    <button type="button" id="view-programs" class="button" name="view programs">Programs</button>
    <button type="button" id="add-programs" class="button" name="add programs">Programs</button>
  </div>
</section>
<script src="/js/dom_functions.js"></script>
<script src="/js/home.js"></script>
