
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="log-in-htm">
				<div class="group">
					<label for="name" class="label labelS">Username </label>
					<input id="name" name="username" type="text" class="input inputS">
				</div>
				<div class="group">
					<label for="password" class="label labelS">password</label>
					<input id="password" name="password" type="password" class="input inputS" data-type="password">
				</div>

				<div class="group">
					<input type="submit" class="button buttonS" value="Login">
				</div>
				<div class="hr"></div>
          <div class="msg"></div>

			</div>
	</div>
	</div>
</div>