<h1>add events here</h1>
<form class="form" id="form" method="post">
<div class="div">
  <label for="start-date">start-date</label>
  <input type="date" name="start-date" id="start-date">
  <label for="start-time">Start Time</label>
  <input type="time" name="start-time" id="start-time">
</div>

<div class="div">
  <label for="end-date">end-date</label>
  <input type="date" name="end-date" id="end-date">
  <label for="start-time">End Time</label>
  <input type="time" name="end-time" id="end-time">
</div>


<div class="div">
  <label for="title">title</label>
  <input type="text" name="title" id="title">
</div>

<div class="div">
  <label for="hall">hall</label>
  <input type="text" name="hall" id="hall">
</div>

<div class="div">
  <label for="speaker">speaker</label>
  <input type="text" name="speaker" id="speaker">
</div>

<div class="div">
  <label for="image-url">image url</label>
  <input type="text" name="imageUrl" id="image-url">
</div>

<div class="div">
  <label for="desc-title">description title</label>
  <input type="text" name="descriptionTitle" id="description-title">
</div>

<div class="div">
  <label for="description-text">description text</label>
  <input type="text" name="DescriptionText" id="description-text">
</div>

  <button type="submit" id="add-events">add events</button>
</form>

<div class="message-div">
  <p id="message">
  </p>
</div>



<script src="/js/dom_functions.js"></script>
<script src="/js/update_events.js"></script>
