<h1>add events here</h1>
<form class="" method="post">
<div class="">
  <label for="start-date">start-date</label>
  <input type="date" name="start-date" id="start-date">
</div>

<div class="">
  <label for="end-date">end-date</label>
  <input type="date" name="end-date" id="end-date">
</div>


<div class="">
  <label for="title">title</label>
  <input type="text" name="title" id="title">
</div>

<div class="">
  <label for="hall">hall</label>
  <input type="text" name="hall" id="hall">
</div>

<div class="">
  <label for="speaker">speaker</label>
  <input type="text" name="speaker" id="speaker">
</div>

<div class="">
  <label for="image-url">image url</label>
  <input type="text" name="image-url" id="imageUrl">
</div>

<div class="">
  <label for="description-title">description title</label>
  <input type="text" name="description-title" id="description-title">
</div>

<div class="">
  <label for="description-text">description text</label>
  <input type="text" name="description-text" id="description-text">
</div>

  <button type="submit" name="button" id="add-events">add events</button>
</form>

<p class="ss" id="ss">

</p>


<script src="/js/dom_functions.js"></script>
<script src="/js/update_events.js"></script>
