<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/viewEvents">Events</a></li>
  <li><a href="/Programs" class="contact">Programs</a></li>
  <li><a class="logout" href="/logout" >logout</a></li>

</ul>
